<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="bgimg">
    <div id="name">
        <h1>LAWYER'S PORTAL</h1>
    </div>
    <div class="all">
        <div class="form-structor">
            <div class="signup">
                <h2 class="form-title" id="signup">Sign up</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {% if form2.errors %}
                    <p style="color: red;">
                        Please correct the error{{ form2.errors|pluralize }} below.
                    </p>
                    {% endif %}
                    <div class="form-holder">
                        <input type="text" class="input" placeholder="First Name" name="first_name"/>
                        {{ form2.errors.first_name }}
                        <input type="text" class="input" placeholder="Last Name" name="last_name"/>
                        {{ form2.errors.last_name }}
                        <input type="email" class="input" placeholder="Email" name="email"/>
                        {{ form2.errors.email }}
                        <input type="password" class="input" placeholder="Password" name="password1"/>
                        {{ form2.errors.password1 }}
                        <input type="password" class="input" placeholder="Confirm Password" name="password2"/>
                        {{ form2.errors.password2 }}
                    </div>
                    <a class="button">
                        <button type="submit" class="submit-btn">Sign up</button>
                    </a>
                </form>
            </div>
            <div class="login slide-up">
                <div class="center">
                    <h2 class="form-title" id="login"><a href="{% url 'login' %}"><span>or</span>Sign In</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>